<html>
<head>
<meta http-equiv="refresh" content="2; url=https://<%= scope.lookupvar('quickstack::params::controller_admin_host') %>:5000/v3/auth/OS-FEDERATION/websso?logout=https%3A%2F%2F<%= scope.lookupvar('quickstack::params::controller_admin_host') %>%2Fdashboard%2F" />
</head>
<body>
<p>Please wait ...</p>
</body>
</html>
